table:not(.data) {
  border: 1px solid #000;
  height: 100%;

  th {
    text-align: center;

    img {
      width: 100px;
    }

    :where(p, h2) {
      margin: 2px;
      font-weight: bold;
      font-family: 'Courier New', Courier, monospace;
    }
  }

  :where(th, td) {
    padding: 5px;
    border: 1px solid #000 !important;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }

  .code {
    min-width: 180px;
    max-width: 180px;
  }

  .content {
    &>tr {
      padding: 15px;
    }

    p {
      margin: 2px;
    }
  }

}

@media print {
  table {
    writing-mode: vertical-rl;
    width: 100%;
    margin: 0px;
  }

  th {
    img {
      transform: rotate(90deg);
    }
  }
}

textarea {
  min-height: 40px;
  max-height: calc(40px * 4);
}

.modal-body {
  &-setting{
    overflow-y: scroll;
    max-height: calc(100vh - 200px);
  }
  &-data{
    overflow: auto;
    max-height: calc(100vh - 200px);
    max-width: 766px;
    table {
      td {
        padding: 2px 3px;
      }
    }
  }
}

.border-custom {
  border: 2px dashed #00bcd4;
  padding: 15px;
  border-radius: 5px;
}